{% extends 'base.html' %}
{% load cache %}

{% block content %}

<div class="container">
    <div class="page-header">

        <!-- TODO: improve this -->

        {% if "exposures" in bokeh_app %}
            <h1>Exposures</h1>
        {% else %}
            <a class="btn btn-default"
               href="/dashboard/exposures/"
               role="button">Back</a>
        {% endif %}
    </div>

    <div class="container">
            {{ bokeh_script|safe }}
    </div>

</div>

{% endblock content %}
