{% extends 'base.html' %}
{% load cache %}

{% block content %}

<div class="container">

    <h2>Welcome to DESI Quick Look!</h2>

    <p>With DESI Quick Look you can monitor the quality of the DESI spectra in real time. </p>

    <ul>
        <li>Use the Monitor app to follow the progress of the data reduction.</li>
        <li>The Exposures app shows QA results at the exposure level and link to QA results for individual cameras.</li>
        <li>Night summary shows time series plots and statistics for the observing night.</li>
    </ul>
</div>

{% endblock content %}