{% extends 'base.html' %}
{% load cache %}

{% block content %}

<div class="container">

    <h2>Welcome to DESI Quick Look!</h2>

    <p>DESI Quick Look is used to monitor the DESI observations in real time.</p>

    <ul>
        <li><b>Exposures</b> summarize QA results at the exposure level and link to QA results for individual cameras.</li>
        <li><b>Night summary</b> shows time series plots and statistics for the observing night.</li>
        <li><b>Pipeline</b> can be used to follow the progress of the data reduction, control the pipeline execution and access the pipeline logs.</li>
    </ul>
</div>

{% endblock content %}