{% extends 'base.html' %}
{% load cache %}

{% block content %}

<div class="container">

    <h2>Welcome to DESI Quick Look!</h2>

    <p>DESI Quick Look is being developed for monitoring the DESI observations in real time.</p>

    <ul>
        <li><b>QA</b> summarizes the  QA results at the exposure level and link to QA results for individual cameras.</li>
        <li><b>Observing History</b> shows time series and statistics for the current or for a range of nights.</li>
        <li><b>QL Pipeline</b> follows the progress of the data reduction and control the Quick Look pipeline execution.</li>
    </ul>
</div>

{% endblock content %}