{% block content %}
<style>
.bk-widget-box {
  padding: 0px !important;
}

.header {
  grid-area: header;
}

.xwsigma-center {
  align-items: center;
}

.bk-widget-box{
  width: 45vw !important;
}

.bk-grid-column {
  width: 45vw !important;
}

.table-ranges {
  grid-area: table-ranges;
  width: 100vw !important;
}

.table-ranges-xwsigma {
  grid-area: table-ranges;
}

.header-xwsigma {
  grid-area: header;
}

.display-grid {
  align-items: center;
  display: grid !important;
  grid-gap: 1rem;
  grid-template-columns: auto;
  width: 100vw !important;
  height: max-content !important;
  justify-items: center;
  grid-template-areas:
  "header"
  "table-ranges"
  "main";
}

.display-grid-xwsigma {
    display: grid !important;
    grid-gap: 1rem;
    grid-template-columns: auto;
    width: 100vw !important;
    height: max-content !important;
    justify-items: center;
    grid-template-areas:
    "header"
    "table-ranges"
    "main";
  }

.display-grid-countbins {
  display: grid !important;
  grid-gap: 1rem;
  grid-template-columns: auto;
  width: 100vw !important;
  height: max-content !important;
  justify-items: center;
  grid-template-areas:
  "header"
  "table-ranges"
  "main";
}

.display-grid-skyresid {
  display: grid !important;
  grid-gap: 1rem;
  grid-template-columns: auto;
  width: 100vw !important;
  height: max-content !important;
  justify-items: center;
  grid-template-areas:
  "header"
  "table-ranges"
  "main";
}

@media screen and (min-width: 1500px) {
  .display-grid-xwsigma {
      display: grid !important;
      grid-gap: 1em;
      width: 100vw !important;
      height: max-content !important;
      justify-items: center;
      align-items: center;
      grid-template-areas: "header table-ranges";
    }
}

@media screen and (min-width: 1100px) {
  .display-grid-countbins {
    display: grid !important;
    grid-gap: 1em;
    width: 100vw !important;
    grid-template-columns: auto auto;
    height: max-content !important;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    "header table-ranges"
    "main main";
  }

    .display-grid-skyresid {
      display: grid !important;
      grid-gap: 1em;
      width: 100vw !important;
      grid-template-columns: auto auto;
      height: max-content !important;
      justify-items: center;
      align-items: center;
      grid-template-areas:
      "header table-ranges"
      "main main";
    }
}

@media screen and (min-width: 800px) {
  .display-grid {
    display: grid !important;
    grid-gap: 1em;
    width: 100vw !important;
    grid-template-columns: 1fr 1fr;
    height: max-content !important;
    justify-items: center;
    grid-template-areas:
    "header table-ranges"
    "main main";
  }

  .display-grid-xwsigma {
    display: grid !important;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    height: max-content !important;
    justify-items: center;
    grid-template-areas:
    "header table-ranges"
    "main main";
  }
}
</style>

<div class="container">
  {{ image|safe }}
</div>

{% endblock content %}
