{% block content %}
<style>
.bk-widget-box {
  padding: 0px !important;
}

.header {
  grid-area: header;
}

.xwsigma-center {
  align-items: center;
}

.bk-widget-box{
  width: 45vw !important;
}

.bk-grid-column {
  width: 45vw !important;
}

.table-ranges {
  grid-area: tableranges;
  width: 45vw !important;
}

.table-ranges-sec {
  grid-area: tablerangessec;
  width: 45vw !important;
}

.main-one{
  grid-area: mainone;
}

.main {
  grid-area: main;
}

.display-grid {
  align-items: center;
  display: grid !important;
  grid-gap: 1rem;
  grid-template-columns: auto;
  width: 100vw !important;
  height: max-content !important;
  justify-items: center;
  grid-template-areas:
  "header"
  "tableranges"
  "mainone"
  "main";
}

@media screen and (min-width: 800px) {
  .display-grid {
    display: grid !important;
    grid-gap: 1em;
    width: 100vw !important;
    grid-template-columns: 1fr 1fr;
    height: max-content !important;
    justify-items: center;
    grid-template-areas:
    "header x"
    "tableranges tablerangessec"
    "mainone mainone"
    "main main";
  }
}
</style>

{{ image|safe }}

{% endblock content %}
