language: node_js
node_js:
  - "node"
before_install:
  - npm i -g npm
script:
  - yarn lint
  - yarn test
  - yarn coverage
after_success:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
