version: "3"

services:
  frontend:
    build: .
    environment:
      - QLF_UI_PORT=3000
      - DEV=true
    entrypoint: sh entrypoint.sh
    working_dir: /home/node
    ports:
      - 3000:3000
    volumes:
      - .:/home/node