[submodule "backend/desiutil"]
	path = backend/desiutil
	url = https://github.com/desihub/desiutil.git
[submodule "backend/desispec"]
	path = backend/desispec
	url = https://github.com/desihub/desispec.git
[submodule "backend/desimodel"]
	path = backend/desimodel
	url = https://github.com/desihub/desimodel.git
[submodule "backend/specter"]
	path = backend/specter
	url = https://github.com/desihub/specter.git
[submodule "backend/desisim"]
	path = backend/desisim
	url = https://github.com/desihub/desisim.git
[submodule "backend/desitarget"]
	path = backend/desitarget
	url = https://github.com/desihub/desitarget.git
