[submodule "backend/desiutil"]
	path = backend/desiutil
	url = https://github.com/desihub/desiutil.git
[submodule "backend/desispec"]
	path = backend/desispec
	url = https://github.com/desihub/desispec.git
