# This file is used to create the DESI Quick Look environment
# $ conda create --name quicklook python=3.5 --file <this file>

# Note: packages not available through conda are listed in extras.txt
# and installed through pip

# Packages required by DESI Quick Look pipeline,
# use conda default versions

# h5py
# scikit-learn
# matplotlib
# astropy
# pyyaml
# requests
# ipython
# numba
# speclite 
# healpy

# Packages required by the DESI Quick Look framework
# django==1.11
# django-filter==1.1.0
# djangorestframework==3.6.2
# django-debug-toolbar==1.8
bokeh==1.0.4
flake8==3.3.0

# pytest==3.0.7
# tornado==4.4.2 # make sure bokeh uses this version of tornado
pandas==0.23.1
# sphinx==1.5.4
# scipy==1.1.0
# numpy==1.14.5
