{% extends 'base.html' %}
{% load cache %}

{% block content %}
<div class="row">
  <div class="col-sm-4 col-xs-12">
    <div class="well col-xs-12 box">
      <a href="#" onclick="window.open('/dashboard/monitor/', 'monitorAPP', 'toolbar=0,location=0,menubar=0')">
        <div class="well">
          <i class="fa fa-cogs"></i>
        </div>
        <h2 class="box-title">Pipeline Monitor</h2>
        <p class="box-text">Control and monitor the execution of the Quick Look pipeline.</p>
      </a>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="well col-xs-12 box">
      <a href="#" onclick="window.open('/dashboard/exposures/', '_blank', 'toolbar=0,location=0,menubar=0')">
        <div class="well">
          <i class="fa fa-eye"></i>
        </div>
        <h2 class="box-title">QA</h2>
        <p class="box-text">Monitor QA metrics and provide access to diagnostic plots.</p>
      </a>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="well col-xs-12 box">
      <a href="#">
        <div class="well">
          <i class="fa fa-sun-o"></i>
        </div>
        <h2 class="box-title">Sky Conditions</h2>
        <p class="box-text">
          Display sky conditions such as atmospheric transparency, seeing,
          and sky background from the GFA camera.
        </p>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-xs-12">
    <div class="well col-xs-12 box">
      <a href="#" onclick="window.open('/dashboard/observing_history', '_blank', 'toolbar=0,location=0,menubar=0')">
        <div class="well">
          <i class="fa fa-area-chart"></i>
        </div>
        <h2 class="box-title">Observing History</h2>
        <p class="box-text">
          Display time series plots for QA metrics, list of exposures and
          observed targets for the current night of for a range of nights.
        </p>
      </a>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="well col-xs-12 box">
      <a href="#">
        <div class="well">
          <i class="fa fa-line-chart"></i>
        </div>
        <h2 class="box-title">Trend Analysis</h2>
        <p class="box-text">
          Simple plots using quantities stored in the database.
        </p>
      </a>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="well col-xs-12 box">
      <a href="#" onclick="window.open('/dashboard/footprint/', '_blank', 'toolbar=0,location=0,menubar=0')">
        <div class="well">
          <i class="fa fa-table"></i>
        </div>
        <h2 class="box-title">Survey Reports</h2>
        <p class="box-text">
          Show the overall progress and performance of survey.
        </p>
      </a>
    </div>
  </div>
</div>

{% endblock content %}
