div.x-tab-bar{ 
    background-color:  #404040;
    background-color-over: #505050;
    background-color-active: #303030;
    background-gradient: 'none';
    background-gradient-over: 'none';
    background-gradient-active: 'none';
    color: #acacac;
    color-over: #c4c4c4;
    color-active: #fff;
    glyph-color: #acacac;
    glyph-color-over: #c4c4c4;
    glyph-color-active: #fff;
    glyph-opacity: 1;
    border-radius: 0;
    border-color: 'transparent';
    border-color-over: transparent;
    border-width: 1px;
    padding: 5px;
    inner-border-width: 0;  
    margin: -5;
    font-size: 15px;
    font-size-over: 15px;
    font-size-active: 15px;
    line-height: 19px;
    font-weight: bold;
    font-weight-over: bold;
    font-weight-active: bold;
    icon-width: 24px;
    icon-height: 24px;
    }


p.text{    
    font-size: 15px;
    line-height: 15px;
    color: #ccc;
    font-weight: bold;
}

p.text2{    
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}

div.x-box-inner{
    margin: 0;
}

a.x-tab.x-tab-active.x-tab-default {
    background-color: #303030;
    color: #303030;
    border-bottom-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    border-top-color: #fff;
}

.x-tab.x-tab-active.x-tab-default .x-tab-icon-el {
    color: #fff;
}

.x-tab.x-tab-active.x-tab-default .x-tab-inner-default {
    color: #fff;
}

.x-panel-header-default {
    background-color: #5fa2dd;
    background-image: none;
}

.x-title-icon-navigation {
    font-family: FontAwesome;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}

.x-tab-icon-el-navigation {
    font-family: FontAwesome;
    color: #acacac;

    .x-tab-over & {
        color: #c4c4c4;
    }

    .x-tab-active & {
        color: #fff;
    }
}

.x-panel-header-title-navigation > .x-title-text-navigation:after {
    top: 30px;
    right: -24px;
}