{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,
    maximum-scale=1.0, user-scalable=0">
    <title>QLF</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <script>
        function btn_click(btn) {
            window.open(btn, "_self")
        }
    </script>
</head>
<body>
<!-- Collapsing navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><b>DESI Quick Look</b></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/desihub/qlf"><i class="fa fa-github fa-lg"></i><b> GitHub</b></a></li>
                <li><a href="/dashboard/api/"><b>API</b> </a></li>
                <li><a href="/"><b>Help</b></a></li>
            </ul>
            {% if "monitor" in bokeh_app %}
                <ul class="nav navbar-nav navbar-left">
                    <button class="btn btn-success navbar-btn" onclick="btn_click('/start')"><i class="fa fa-play"></i><b> START</b></button>
                    <button class="btn btn-danger navbar-btn" onclick="btn_click('/stop')"><i class="fa fa-stop"></i><b> STOP</b></button>
                    <button class="btn btn-warning navbar-btn" onclick="btn_click('/restart')"><i class="fa fa-refresh"></i><b> RESET</b></button>
                    <p class="nav navbar-nav navbar-text pull-left">
                        <b> STATUS:
                            {% if messages %}
                                {% for message in messages %}
                                    {% if forloop.first %}
                                        {{ message }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                - -
                            {% endif %}
                        </b>
                    </p>

                </ul>
                {% endif %}
        </div>

    </div>
</nav>

<!-- Keep at the end of the document, so that pages load faster -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.site.js' %}"></script>

<div class="container-fluid">
  <!-- Page main content -->
  {% block content %}
  {% endblock %}
  <footer>
      <hr>
      <div class="container" >
          <p>&copy; Copyright {% now 'Y' %}, LIneA/DESI</p>
      </div>
  </footer>
</div>

</body>
</html>
