/*
 * Observing History
 */

.extra-pad-top {
    padding-top: 15px;
}

span.border-lr-without {
    border-left-width: 0px;
    border-right-width: 0px;
}

td.highlight {
    background-color: whitesmoke !important;
}

#btn-manual-exec {
    margin-left: 3px;
    margin-top: 10px;
    margin-bottom: 13px;
}

#alert-manual-exec > div.alert {
    margin-bottom: 0;
}

.btn-alert {
    width: 45px;
}

tr.selected {
    background-color: #DEDEDE;
}