<html>

<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Importing Extjs library -->
<script type="text/javascript" src="/static/ext-6.2.0/build/ext-all-debug.js"></script>
<script type="text/javascript" src="/static/ext-6.2.0/build/classic/theme-triton/theme-triton-debug.js"></script>


<!-- Importing the stylesheet triton -->
<link rel="stylesheet" type="text/css" href="/static/ext-6.2.0/build/classic/theme-triton/resources/theme-triton-all-debug.css">

{% block head %}{% endblock %}

</head>

<body>
{% block content %}{% endblock %}
</body>

</html>